<html lang="en">
    <head>
        <title>Demo PEISA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body class="bg-light font-monospace">
        <nav class="navbar navbar-dark bg-secondary sticky-top">
            <div class="container ">
                <a class="navbar-brand  " th:href="@{/}">Punto de Venta</a>
                <ul class="nav nav-tabs ">
                    <li class="nav-item">
                        <a class="nav-link active disabled "  th:href="@{/buscar?q=}">Lista de Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light " th:href="@{/order/new}">Nueva Orden</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-4">
            <form th:action="@{/buscar}" class="d-flex ">
                <input autofocus="autofocus" name="q" class="form-control form-control-sm " type="search" th:placeholder="${param.q}"  aria-label="Search">
                <a class="p-2"> </a>
                <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a class="p-2"> </a>
            </form>



            <table class="mt-4 table table-striped table-light " style="font-size: 14px;" >
                <thead>
                    <tr>
                        <th class="text-dark" scope="col">CODIGO</th>
                        <th class="text-dark" scope="col">DESCRIPCION</th>
                        <th class="text-dark" scope="col">PRECIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mo : ${mo}">
                        <td th:text="${mo.codigo}"></td>
                        <td th:text="${mo.descripcion}"></td>
                        <td>
                            <span th:text="'$ ' +  ${#numbers.formatDecimal(mo.precio, 1, 'COMMA', 2, 'POINT')} "></span>
                        </td>

                    </tr>
                </tbody>
            </table>



            <table class="mt-4 table table-striped " style="font-size: 14px;" >
                <thead>
                    <tr>
                        <th class="text-dark" scope="col">CODIGO</th>
                        <th class="text-dark" scope="col">DESCRIPCION</th>
                        <th class="text-dark" scope="col">PRECIO</th>
                        <th class="text-dark" scope="col">FAV</th>
                        <th class="text-dark" scope="col">EDIT</th>


                    </tr>
                </thead>

                <tr th:each="repuesto : ${repuestos}">

                    <td th:text="${repuesto.codigo}"></td>
                    <td th:text="${repuesto.descripcion}"></td>
                    <td><span th:text=" 'us$ ' +  ${#numbers.formatDecimal(repuesto.precio, 1, 'COMMA', 2, 'POINT')}"></span>&nbsp;<span>+ IVA</span></td>


                    <td><a th:href="@{'/repuesto/addFav/{id}'(id=${repuesto.id})}" class="btn btn-sm" ><i class="fa-solid fa-star"></i></a>
                    </td>

                    <td>


                        <a th:href="@{'/repuesto/edit/{id}'(id=${repuesto.id})}" class="btn btn-sm" method="post" type="submit"><i class="fa-solid fa-pencil"></i></a>
                    </td>
                </tr>
            </table>

        </div>
    </body>
    <div class="fixed-bottom bg-secondary text-light font-monospace  text-center " >
        Running on Java Version [[${@environment.getProperty('java.version')}]]
    </div>

    <script src="https://kit.fontawesome.com/2dfd7aef1b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</html>
