<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="css/discos.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/discos.css" type="text/css"/>

        <title>Vinilos</title>
    </head>
    <body>

        <!-- As a link -->
        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="/img/icon.png" alt="" width="40" height="40" class="d-inline-block align-text-center">  Vinilos </a>

                <form th:action="@{/buscar}" class="d-flex ">
                    <input autofocus="autofocus" name="q" class="form-control " type="search" th:placeholder="${param.q}" aria-label="Search">
                    <a class="p-2"> </a>
                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <a class="p-2"> </a>
                    <a th:href="@{/discos/crear}" class="btn btn-success"> <i class="fa-solid fa-circle-plus"></i></a>
                    <a class="p-2"> </a>
                    <a th:href="@{/}" class="btn btn-primary"> <i class="fa-solid fa-house "></i></a>
                </form>
            </div>
        </nav>
        <div class="container mt-4 discos-destacados" >

            <div class="row ">
                <div class="dropdown p-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       Artistas
                    </button>
                    <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a th:each="artist : ${artists}" th:text="${artist.artist}" th:href="@{/buscar?q=} + ${artist.artist} " class="dropdown-item" ></a></li>

                    </ul>
                </div>


                <div th:each="disco : ${discos}" class="col-md-4 col-sm-12 mb-4">      

                    <div class="card  md-4" style="max-width: 425px;">
                        <div class="card-header text-start"> <h4 th:text="${disco.album}"></h4>

                        </div>

                        <div class="row g-0">
                            <div class="col-md-5">
                                <img th:src="${disco.imagenUrl}"  class="img-fluid rounded-start" alt="...">
                            </div>

                            <div class="col-md-7">
                                <div class="card-body">

                                    <a th:href="@{/buscar?q=} + ${disco.artist} " th:text="${disco.artist}"></a>   
                                    <br/>
                                    <small class="text-muted"><a th:text="${disco.releaseYear}"></a></small>
                                    <br/>
                                    <a th:href="@{/discosPorGrading (recordGradingId=${disco.recordGrading.id}) }" th:text="${disco.recordGrading.status}"  class="badge bg-warning text-dark"></a>
                                    <br>
                                    <a th:href="@{/discosPorGenero (genreId=${disco.genre.id}) }" th:text="${disco.genre.genre}"  class="badge bg-primary fw-light"></a>

                                </div>

                            </div>
                            <div class="card-footer p-0 text-end">
                                <form th:action="@{'/discos/editar/{id}'(id=${disco.id})}" th:method="get" >

                                    <button type="submit" class="btn btn-link btn-sm">
                                        <i class="fa-solid fa-pencil"></i>
                                    </button>
                                </form>

                            </div> 
                        </div>
                    </div>
                </div>
            </div>




        </div>
    <center>Running on Java Version [[${@environment.getProperty('java.version')}]]</center>
    <!-- As a heading -->
    <script src="https://kit.fontawesome.com/2dfd7aef1b.js" crossorigin="anonymous"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>